
body, nav {
    background: #8e9eab;
    
}

p, a, h1, h4, h5, h6, li {
    color: #fff;
    font-style: normal;
    font-family: 'Shadows Into Light', cursive;
}

.date-posted {
    font-size: 13px;
    padding-top: 0px;
}

.form-text {
  color: #fff;
}
