{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center mt-3">
        <a href="{% url 'create' %}" class="btn-floating pulse btn-lg btn-large waves-effect waves-light teal"><i class="material-icons">vent</i></a>
        <div class="row">
            <div class="col-sm">
            {% for post in posts %}
                <h5 class="right-align">{{ post.title }}</h5>
                <h3 class="mb-1">{{ post.content }}<h3>
                <h6 class="date-posted"> On {{ post.date_posted }}</h6>
            {% endfor %}
            </div>
        </div>
    </div>
            <ul class="pagination justify-content-center">
            {% if is_paginated %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a>></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a>></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>
    </div>

{% endblock %}
